html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
}

@font-face {
  font-family: "Sugarpunch";
  src: url("/fonts/sugarpunch.otf") format("opentype");
}
@font-face {
  font-family: "Transformers";
  src: url("/fonts/transformers.ttf") format("truetype");
}
@font-face {
  font-family: "GeosansLight";
  src: url("/fonts/GeosansLight.ttf") format("truetype");
}
@font-face {
  font-family: "Alien";
  src: url("/fonts/alien.ttf") format("truetype");
}
@font-face {
  font-family: "Arcade";
  src: url("/fonts/arcade.ttf") format("truetype");
}
canvas {
  width: 100%;
  height: 100%;
}

hr {
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 10px 20px 4px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  font-family: "Sugarpunch";
}
button:hover {
  background-color: #e6e6e6;
}
button:focus {
  outline: none;
}

#reconnect-button {
  font-size: 24px;
}

.hidden {
  display: none !important;
}

#broadcast-board {
  font-family: "GeosansLight";
}

#play-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 50px 50px 20px 50px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  max-height: 90%; 
  overflow: auto;
}
#play-menu #header {
  font-family: "Sugarpunch";
}
#play-menu #header #title {
  font-size: 4rem;
  margin-bottom: 1rem;
}
#play-menu #header #subtitle {
  font-size: 1.5rem;
}
#play-menu p {
  margin-bottom: 0;
  font-family: "GeosansLight";
  font-size: 1.5rem;
  line-height: 2rem;
}
#play-menu p img {
  height: 1.5rem;
}
#play-menu #links {
  font-family: "GeosansLight";
  font-size: 1.5rem;
  line-height: 2rem;
}
#play-menu #links img {
  height: 1.5rem;
}
#play-menu #links #github {
  height: 3rem;
}
#play-menu #links #creator {
  margin-top: 0.5rem;
}
#play-menu #links #infodep {
  font-family: "GeosansLight";
}
#play-menu #links #infodep a {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
}
#play-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}
#play-menu input:hover {
  outline: none;
}


#gameover-board {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 60px 20px 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  max-height: 100%; 
  overflow: auto;
}

#gameover-board h1 {
  font-family: "Sugarpunch"; 
  font-size: 4.5rem;
  margin-bottom: 0.25rem;
}

#gameover-board h2 {
  font-family: "Sugarpunch"; 
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

#gameover-board p {
  font-family: "GeosansLight";
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#gameover-board input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}
#gameover-board input:hover {
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#broadcast-board {
  position: fixed;
  top: 10px;
  left: 10px;
}
#broadcast-board ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#broadcast-board ul li {
  position: absolute;
  display: table;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 4px;
  border-radius: 5px;
  padding: 4px 10px;
  animation-name: fadeIn, fadeOut;
  animation-delay: 0s, 5s;
  animation-duration: 1s, 2s;
  animation-fill-mode: forwards, forwards;
}

#leaderboard {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}
#leaderboard th {
  font-family: "Sugarpunch";
  text-align: center;
  padding: 2px 5px;
}
#leaderboard td {
  font-family: "GeosansLight";
  text-align: center;
  padding: 2px 5px;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
#disconnect-modal h2 {
  font-family: "GeosansLight";
  margin-top: -10px;
}
#disconnect-modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 30px 50px 30px 50px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  font-family: "sugarpunch";
  font-size: 1.5rem;
}
#disconnect-modal > div img {
  width: 5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 180px;
  }

  #gameover-board {
    padding: 10px 15px;
    min-width: 180px;
  }

  #disconnect-modal > div {
    padding: 10px;
    min-width: 280px;
  }

  #broadcast-board {
    top: 5px;
    left: 5px;
  }
  #broadcast-board ul li {
    padding: 2px 5px;
  }

  #leaderboard th, #leaderboard td {
    padding: 0 3px;
  }
  #leaderboard table {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
